<ul *ngIf="stories" class="stories">
  <li *ngFor="let story of stories" class="story">
    <div routerLink="/story/{{story.id}}" class="story-link">
      <div class="title">
        <a href="{{story.url}}" class="story-url" (click)="$event.stopPropagation()">
          {{ story.title }}
        </a>
      </div>
      <div class="author">{{ story.by }}</div>
    </div>
  </li>
</ul>

<div class="row">
  <div class="col-xs-4 footer-nav-action-container">
    <div *ngIf="prevPageAvailable" [routerLink]="['/', category, (page - 1)]" class="nav-btn btn btn-sm">Prev</div>
    <div *ngIf="nextPageAvailable" [routerLink]="['/', category, (page + 1)]" class="nav-btn btn btn-sm">Next</div>
  </div>
</div>
