<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <span class="header">{{ title }}</span>
    </div>
    <div class="col-xs-4 col-xs-offset-4">
      <div class="pull-right">
        <div [routerLinkActive]="['nav-btn-active']" routerLink="/top" class="nav-btn btn btn-sm">Top</div>
        <div [routerLinkActive]="['nav-btn-active']" routerLink="/new" class="nav-btn btn btn-sm">New</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12"><router-outlet></router-outlet></div>
  </div>
</div>

