.author {
  font-size: 14px;
  font-weight: 700;
}

.comment {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.comment.no-kids {
  cursor: auto;
}

.comment.has-kids:hover {
  border-left: 1px solid #ff6600;
  padding-left: 14px;
  cursor: pointer;
}

.comment.has-kids.closed:hover {
  background: #ddd;
}
